<div ng-controller="CMCtrl" uploader="uploader" style="text-align:center">
            <div id="legend" class="">
                <legend class="">发车友圈</legend>
            </div>
            <div class="control-group">

                <!-- Textarea -->
                <label class="control-label">输入文字</label>
                <div class="controls">
                    <div class="textarea">
                        <textarea type="" class="" ng-model="content"> </textarea>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <div>
                    <div ng-repeat="item in uploader.queue">
                        <strong>{{item.file.name}}</strong>
                        <div ng-thumb="{file: item._file, height:100}"></div>
                    </div>
                </div>
                <label class="control-label" for="fileInput">选择图片</label>
                <!-- File Upload -->
                <!--onchange="angular.element(this).scope().imageUpload(this.files)"-->
                <div class="controls">
                    <input type="file"  id="fileInput" nv-file-select="" value="" uploader="uploader" style="margin:auto;color: transparent" multiple />
                </div>
            </div>

            <div class="control-group">
                <!--<label class="control-label">发布</label>-->

                <!-- Button -->
                <div class="controls">
                    <input type="button"  class="btn btn-success" ng-click="submit()" value="发布"/>
                </div>
            </div>


</div>